<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Starred posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let post of posts">
    <ion-card *ngIf="post.isStarred">
      <ion-card-header>
        <ion-card-title>{{post.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <img [src]="post.imageUrl" alt="Image cannot be loaded">
      </ion-card-content>
    </ion-card>

  </ng-container>
</ion-content>