<ion-card (click)="open(post.id)">
  <ion-card-header>
    <span>Posted by {{post.author}} at {{post.creationDateTime}}</span>
    <ion-card-title>{{post.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img *ngIf="post.imageUrl" [src]="post.imageUrl" alt="Image cannot be loaded">
    <div class="icons">
      <ion-icon name="chatbox-outline"></ion-icon>{{post.num_comments}}
      <ion-icon name="heart-outline"></ion-icon>{{post.score}}
    </div>
  </ion-card-content>
</ion-card>